
:root {
    --almost-black:#111;
    --dark-grey:#1E1823;
    --grey-color:rgba(17, 17, 17, 0.70);
    --light-grey:rgba(17, 17, 17, 0.10);
    --almost-white:rgba(255, 255, 255, 0.70);
    --white-color:#fff;
    --light-orange:#FCF1E0;
    --dark-orange:#FD9222;
}

body {
    font-family: "Montserrat", sans-serif;
  }



.btn-review.review-section-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid #FD9222;
    border-radius: 100px;
    padding: 14px 40px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 32px;

    background-color: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-review.review-section-btn:hover,
.btn-review.review-section-btn:focus {
    color: #FFFFFF;
    background-color: #FD9222;
}

/* modalul din butonul "Leave a review" */

.modal-review.modal-review-pp {
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  width: 100%; /* acum pot da ferestrei modale intreaga latime a ferestrei browserului */
  z-index: 2; /* am setat z-index mai mare pentru a afișa conținutul modal peste fundal */
  transition: 300ms ease, opacity 300ms ease; /*efect la inchiderea si deschiderea ferestrei */
}


.modal-review.modal-review-pp .modal-backdrop {
  position: fixed; /* in felul asta fundalul (.modal-backdrop) este atasat de fereastra de vizualizare si nu va defila odata cu continutul paginii. */
  top: 0;
  left: 0;
  width: 100%; /*umple 100% din latimea ferestrei browserului si va fi fixat în ea*/
  height: 100%; /*umple 100% din inaltimea ferestrei browserului si va fi fixat în ea*/
  background-color: #0000004d;
    backdrop-filter: blur(2px);
  z-index: 3; /* am setat z-index mai mare decât cel al conținutului pentru a acoperi toata fereastra */
}
.modal-review.modal-review-pp .modal-content {
  max-width: 517px;
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 41%; 
  left: 50%; /* Am setat left-ul la 50% pentru centrare pe orizontala */
  transform: translate(-50%, -50%);
  z-index: 4;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-review.modal-review-pp.is-hidden {
  visibility: hidden;
  transform: scale(1.1);
  opacity: 0;
}

/* close-button-ul din modal */
.modal-review.modal-review-pp .close-btn {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 24px;
  top: 24px;
  border: white;
  background:white;
  padding: 0;
  cursor: pointer;
  display: flex; /*am pus flex cu centrarile aferente, ca sa centrez svg-ul din close-btn */
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-review.modal-review-pp .close-btn>.icon-close-x {
  color: var(--almost-black);
  width: 14px;
  height: 14px;
  
}


.modal-review.modal-review-pp .close-btn:focus,
.modal-review.modal-review-pp .close-btn:hover {
  transform: scale(1.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* final modal */

/* formularul din modal */

.modal-review.modal-review-pp .modal-body {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.modal-review.modal-review-pp .modal-title {
  color: var(--almost-black);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: left;
  padding-bottom: 22px;
  padding-right: 139px;
}

.modal-review.modal-review-pp .modal-title>span {
  color: var(--dark-orange);
}

.modal-review.modal-review-pp .modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 437px;
  height: 389px;
  gap: 18px;
  position: relative;
}

.modal-review.modal-review-pp .form-group {
  
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: left;
  color:#4040404D;
  display: flex;
  flex-direction: column;
  position: relative; 
}


/* stilizare casutele de input */
.modal-review .input {
  width: 100%;
  height: 66px;
  padding: 22px 24px 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px rgba(0, 0, 0, 0.03);
}


/* stilizarea borderului inputului la focus  */
.modal-form .input:focus {
  border-color: var(--dark-orange);
  outline: none;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* textul sugestiv din casuta de input */
.modal-form .input::placeholder {
  color: #75757580;
}

/* sub-sectiunea de comments */
.modal-review .comment-space {
  height: 137px;
  border: 1.5px solid #1111110D;
  padding: 22px;
  border-radius: 13px;
  resize: none;
  height: 137px;
  overflow-y: auto; /* afisez bara de derulare doar cand este necesar */
  resize: none; /* dezactivez redimensionarea manuala a campului */
  scrollbar-width: thin; /* setez latimea barei de derulare */

}

/* suprascriere stiluri din librarie cu prefixele tarilor */

/* zona de prefix */
.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    padding: 17px 32px 17px 24px;
}

.iti.iti--allow-dropdown.iti--separate-dial-code .iti__selected-flag {
    background-color: white;
    width: 125px;
    padding: 0;
    
}



/* prefix - setare marginea-dreapta pt a distanta steagul de prefix si stilizare font */
.iti.iti--allow-dropdown.iti--separate-dial-code .iti__selected-dial-code {
  margin-left: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000;

}

/* stilizare zona de introducere a telefonului */
.iti.iti--allow-dropdown input, .iti.iti--allow-dropdown input[type=tel], .iti.iti--separate-dial-code input, .iti.iti--separate-dial-code input[type=tel] {
  padding-right: 23px;
  margin-left: 0;
}

.iti.iti--allow-dropdown .input.phone-number:not([style*="padding-left"]),
.iti.iti--allow-dropdown .input.phone-number[type=tel]:not([style*="padding-left"]),
.iti.iti--separate-dial-code .input.phone-number:not([style*="padding-left"]),
.iti.iti--separate-dial-code .input.phone-number[type=tel]:not([style*="padding-left"]) {
    padding-left: 177px;
}

/* setare pozitiei relative la parinte pt bara dinaintea telefonului */
.input-with-bar {
  position: relative;
}

/* stilizare bara dinaintea telefonului */
.input-bar {
  position: absolute;
  top: 17px; 
  left: 149px; 
  width: 2px;
  height: 32px; /* Lățimea și înălțimea barei */
  background-color: #4040404D;; /* Culoarea barei */

}

/* butonul de send */
.end-modal.send-btn-ctn {
 align-items: center;
  display: flex;
  padding-top: 4px;
  
}

.send-btn {
  border: none;
  border-radius: 100px;
  width: 117px;
  height: 45px;
  background-color: var(--dark-orange);
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
  cursor: pointer;
  display: block; /* Asigură că butonul ocupă întreaga lățime disponibilă în container */
}

 


/* Stilizare pentru mobil */

@media screen and (max-width: 767px) {
  .modal-review .modal-content {
    padding: 32px 24px;
    max-width: 311px;
  }

  .modal-review .close-btn {
    right: 14px;
    top: 14px;
    width: 24px;
    height: 24px;
  }

  .modal-review .close-btn>.icon-close-x {
    width: 12px;
    height: 12px;
  
}

  .modal-review .modal-title {
    font-size: 20px;
    line-height: 24px;
    padding-right: 8px;
    padding-bottom: 18px;
  }

  
  .modal-review .modal-body {
    gap: 14px;
  }

  .modal-review .modal-form {
    width: 263px;
    height: 268px;
    gap: 14px;
  }

  .modal-review .form-group {
    font-size: 14px;
    line-height: 17px;
  
  }

  .modal-review .input {
    height: 45px;
    padding: 14px 18px;
  }

  .modal-review .comment-space {
    height: 91px;
  }

  .modal-review .white-background {
    background-color: #FFFFFF;
  }

  /* zona de prefix */
  .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    padding: 10px 14px 10px 18px;
}

.iti.iti--allow-dropdown.iti--separate-dial-code .iti__selected-flag {
    
    width: 74px;
    
    
}

.iti.iti--allow-dropdown.iti--separate-dial-code .iti__selected-dial-code {
  margin-left: 8px;
  font-size: 14px;
  line-height: 17px;
  

}

/* stilizare zona de introducere a telefonului */
.iti.iti--allow-dropdown input, .iti.iti--allow-dropdown input[type=tel], .iti.iti--separate-dial-code input, .iti.iti--separate-dial-code input[type=tel] {
  padding-right: 18px;
  
}

/* stilizare bara dinaintea telefonului */
.input-bar {
  top: 10px; 
  left: 92px; 
  height: 25px;
  

}




/* Stilizare pentru tableta */
@media screen and (min-width: 768px) and (max-width: 1199px) {

  .modal-review .form-group {
    font-size: 18px;
    line-height: 22px;
  
  }

  
}


/* Stilizare pentru desktop */
@media screen and (min-width: 1200px) {

  .modal-review .form-group {
    font-size: 18px;
    line-height: 22px;
  
  }

  
}